@import '../../node_modules/react-vis/dist/style.css';
@import 'https://fonts.googleapis.com/css?family=Playball';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';

#main {
    background-color: #f0f2f2;
    height: 100vh;
}

.gnb{
    display: flex;
    position: relative;
    width: 100%;
    height: 60px;
    background-color: white;
    color: black;
    box-shadow: 0px 0px 8px 0px black;
}
.gnb .title{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-top: 15px;
    font-size: 28px;
    font-family: "Playball";
    pointer-events: none;
}
.gnb .profile{
    width: 100px;
    margin: auto 0;
    margin-left: auto;
    color: black;
    text-decoration: none; 
}

.body_layout {
    display: inline-block;
    width: 100%;
    padding: 30px 60px 0px 60px;
}
.body_layout .col1{
    width: 50%;
    float: left;
}
.body_layout .col2{
    width: 50%;
    float: left;
}

.audio {
    position: relative;
    width: 550px;
    height: 260px;
    text-align: center;
}
.audio .player {
    position: absolute;
    width: 100%;
    bottom: 0px;
}
.audio .player Button {
    position: absolute;
    right: 8px;
    bottom: 5px;
    font-size: 20px;
}

.header{
    font-size: 20px;
    margin-top: 20px;
}

.monitor {
    position: relative;
    width: 100%;
    height: 320px;
    background: black;
}
.properties{
    color: white;
}
.properties .note{
    position: absolute;
    left: 47%; 
    right: 53%;
    top: 3px;
}
.properties .freq{
    position: absolute;
    left: 5px;
}

.chart {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.settings {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 80px;
    text-align: center;
    background-color: black;
    border-top: white 1px solid;
    color: white;
}
.settings > *{
    display: table-cell;
    vertical-align: middle;
}
.settings button {
    width: 30px;
}

.yt_tool {
    padding-top: 5px;
}
.yt_tool .searchBar{
    width: 100%;
}

.yt_list{
    display: table;
    table-layout: fixed;
    width: 100%;
    text-align: center;
    margin-top: 15px;
}
.yt_list > *{
    display: table-cell;
    vertical-align: top;
}
.yt_list .selected {
    border-left: 12px solid lightgreen;
}
.yt_list .thumbnail{
    height: 130px;
}
.yt_list .title{
    font-size: auto;
    margin-top: 5px;
    padding: 0px 5px 0px 5px;
}