@import '../../node_modules/react-vis/dist/style.css';

#main {
    background-color: #f0f2f2;
    height: 100vh;
}

.nav{
    display: table;
    width: 100%;
    background-color: white;
    color: black;
}
.nav .brand{
    display: table-cell;
    float: left;
    font-size: 25px;
    width: 180px;
}
.nav .searchBar{
    display: table-cell;
    width: 60%;
    float: left;
}
.nav .profile{
    display: table-cell;
    float: right;
    width: 100px;
}

.body_layout {
    display: inline-block;
    width: 100%;
    height: 450px;
    padding-top: 30px;
    border: 2px solid pink;
}
.body_layout .audio{
    width: 60%;
    float: left;
}
.body_layout .monitor{
    width: 40%;
    float: left;
}

.display{

}

.chart{
    
}