@import '../../node_modules/react-vis/dist/style.css';

#main {
    background-color: lightgrey;
    height: 100vh;
}

.gnb {
    background-color: white;
    color: black;
}
.gnb .nav{
    display: inline-block;
}
.gnb .brand{
    font-size: 30px;
}
.profile{
    
}

.body_layout {
    display: inline-block;
    padding-top: 30px;
    width: 100%;
    border: blue solid 2px;
}
.body_layout .col_1 {
    float: left;
    width: 60%;
    text-align: center;
    border: red solid 1px;
}
.body_layout .col_2 {
    float: left;
    width: 40%;
    text-align: center;
    border: red solid 1px;
}

.youtube{
    height: 450px;
    margin: 0px 20px 0px 30px;
    border: black solid 1px;
}
.search{
    margin: 15px 100px 10px 100px;
}

.chart{
    width: 100%;
    padding: 0px 100px 0px 100px;
}